
img {border: 0; }

ul {position: relative; left: 10%; font-family: "arial";}

h1 , h2 {padding-left: 10px; color: #800000; font-family: "arial";}

a { color: white; font-family: "arial"; }

p {padding: 10px; font-family: "arial";}


#pageColour {
	background: #FFFFFF;
}

#wrapper{
	width: 900px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	
	
}

#header {
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 200px;
    background: #FFFFFF;
}

#global {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #800000;
}

#globalnav {
    margin-left: 0px;
	padding: 0px; 
	list-style:none;
	display: inline-block;
}

#globalnav li { 
	display: inline-block; 
	<!--white-space: nowrap; 
	margin: auto; 
	list-style-type: none;
}

#globalnav a:link, #globalnav a:visited {
	color: #FFFFFF; 
	background-color: #800000;
	font-weight: bold;
	text-decoration: none; 
	font-size: 1.2em; 
	margin: 0; padding: 10px 20px; 
	
}

#globalnav a:hover {
	text-decoration: none; 
	color: #FFFFFF; 
	background-color: #000000; 
}

#container {
	position: relative;
	
}

#content {
	height: 700px;
	padding: 10px 30px 30px 30px;
	position: relative;
	
	}
	
#contentBlock {
	height: 200 px;
	padding-top: 2px;
	background: #e6e6fa;
	
}

#footer	{
    height: 90px;
    padding-top: 20px;
	padding-bottom: 20px;
    position: relative;
	background-color: #800000;
	color: #FFFFFF;
    text-align: center;
    width: auto;
	margin: 0px;
}

